.classes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.card-phone {
  display: inline-block;
  overflow: hidden;
}
.card-phone img {
  transition: 1s;
  display: block;
  border-radius: 10px;
}
.card-phone img:hover {
  transform: scale(1.1);
}

.list-inp {
  text-align: center;
  margin-top: 10px;
}
.list-filter {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 60%;
}
.sea {
  margin-top: 20px;
  width: 100%;
  max-width: 40%;
  height: 40px;
}
@media (max-width: 950px) {
  .sea {
    max-width: 80%;
  }
}
@media (max-width: 350px) {
  .sea {
    max-width: 80%;
  }
  .card-phone {
    width: 100%;
    max-width: 250px;
  }
}
