.navbar {
  display: flex;
  justify-content: center;
  color: rgb(119, 73, 73);
  cursor: pointer;
}
.navbar-item {
  margin: 5px 15px;
  color: rgb(132, 128, 128);
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.navbar-item-active {
  margin: 5px 15px;
  color: rgb(5, 4, 4);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  /* border-bottom: 1px solid black; */
}
.navbar-item-active,
.navbar-item:hover {
  color: rgb(56, 54, 54);
}

@media (max-width: 1150px) {
  .navbar {
    display: none;
  }
}
